@import "tailwindcss";

@theme inline {
  --color-text: var(--text);
  --color-text-h: var(--text-h);
  --color-bg: var(--bg);
  --color-border: var(--border);
  --color-accent: var(--accent);
  --color-accent-border: var(--accent-border);
 
  --color-button-primary: var(--button-primary);
  --color-button-secondary: var(--button-secondary);

  --color-pink-dark: #ED7EC8;
  --color-pink-light: #ffcaed;
  --color-green-dark: #a6ca69;
  --color-green-light: #D3F29E;
  --color-blue-dark: #5ca4ba;
  --color-blue-light: #C4F1FF;
  --color-yellow: #fcbd00;

  --font-body: Poppins, system-ui, 'Segoe UI', Roboto, sans-serif;
  --font-h: Modak, system-ui, 'Segoe UI', Roboto, sans-serif;
}

:root {
  --pink-dark: #ED7EC8;
  --pink-light: #ffcaed;
  --green-dark: #a6ca69;
  --green-light: #D3F29E;
  --blue-dark: #5ca4ba;
  --blue-light: #C4F1FF;
  --yellow: #fcbd00;

  --text: #171717;
  --text-h: var(--pink-dark);
  --bg: #f5edd7be;
  --border: var(--green-dark);
  --accent: var(--yellow);
  --accent-border: var(--yellow);
  --shadow:
    rgba(0, 0, 0, 0.1) 0 10px 15px -3px, rgba(0, 0, 0, 0.05) 0 4px 6px -2px;

  --button-primary: var(--pink-dark);
  --button-secondary: var(--green-dark);

  --font-body-family: Poppins, system-ui, 'Segoe UI', Roboto, sans-serif;
  --font-h-family: Modak, system-ui, 'Segoe UI', Roboto, sans-serif;

  font: 18px/145% var(--text);
  letter-spacing: 0.18px;
  color-scheme: light dark;
  color: var(--text);
  background: var(--bg);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @media (max-width: 1024px) {
    font-size: 16px;
  }
}

#root {
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
  border-inline: 1px solid var(--border);
  min-height: 100svh;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  overflow: hidden;
  
}

body {
  margin: 0;
  background-image: url("/background.jpg");
  background-size: cover;
  overflow-x: hidden;
  min-height: 100svh;
}

h1,
h2, 
h3 {
  font-family: var(--font-h-family);
  font-weight: 500;
}

h1 {
  letter-spacing: -1.68px;
  margin: 32px 0;
  @media (max-width: 1024px) {
    margin: 20px 0;
  }
}
h2 {
  line-height: 118%;
  letter-spacing: -0.24px;
  margin: 0 0 8px;
}